__pycache__
*.xml
rbwr_overlay.dist
settings.json
*.log
*test.py
verify_calculations.py
.env

server/files/dev
server/crashes.json
server/suggestions.json
server/banned_ips.json

venv
*build

rbwr_overlay.exe
todo.md