__pycache__
*.xml
rbwr_overlay.dist
settings.json
*.log
*test.py
verify_calculations.py
.env

server/files
server/crashes.json
server/suggestions.json
server/banned_ips.json
server/admins.json

venv
*build

rbwr_overlay*.exe
rbwr_overlay*.zip
RBWR_APRM_Calculator*.exe
RBWR_APRM_Calculator*.zip
todo.md
